@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto&display=swap');

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -- Hover:css -- */
/* The following is taken from the Hover:css repository insteading of loading the cdn in my head element. This is not my css. I have linked this is my README file.  */

.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

/* -- Navbar -- */ 

.navbar {
    width: 100%;
    border: 0;
    margin-bottom: 0;
    background-color: #fefefa;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .navbar-brand {
    color: #f5816e;
    font-family: "Dancing Script", cursive;
    font-weight: 700px;
    font-size: 45px;
    text-decoration: none;
    letter-spacing: 4px;
    margin-left: 15px;
}

.navbar .navbar-brand:hover, .navbar-brand:focus {
    color: #368dc5;
}

.navbar-light .navbar-nav .nav-link {
    color: #f5816e;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    letter-spacing: 2px;
    padding-right: 10px
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #368dc5;
}

.navbar .navbar-nav .active>.nav-link {
    color: #368dc5;
    text-decoration: none;
}

.navbar-nav {
    margin-left: auto;
    padding-right: 5px;
}

.navbar-toggler {
    margin-right: 15px;
}

/* -- Hero Image, Jumbotron & Search Bar-- */

.image-container {
    background-image: url("../images/hero-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden; 
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}




/* -- Media Queries -- */

@media screen and (max-width: 575.98px) {

        .navbar .navbar-brand {
            font-size: 25px;
        }

        .navbar-light .navbar-nav .nav-link {
            font-size: 25px;
        }
}